{erl_opts, [debug_info]}.

{deps, [
    {coinbase_price_watcher, {git, "https://github.com/anton-grsm/coinbase_price_watcher.git", "master"}},
    {jsx, {git, "https://github.com/talentdeficit/jsx", "main"}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", "master"}}
]}.

{shell, [
    {config, "env/local.config"},
    {apps, [coinbase_price_web]}
]}.
