[
    {kernel, [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                level => debug,
                formatter => {logger_formatter, #{
                    single_line => false,
                    template => [time, " [", level, "]:", pid, ":", mfa, ":", line, ": ", msg, "\n"]
                }}
            }}
        ]}
    ]},

    {cdt_erlang_client, [
        {chrome_host, "localhost"},
        {chrome_port, 9222}
    ]},

    {coinbase_price_web, [
        {host, "127.0.0.1"},
        {port, 8080}
    ]}
].
